@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

@keyframes wiggle {
    0%  { transform: rotate(0deg) }
    50% { transform: rotate(0deg) }
    51% { transform: rotate(9deg) }
    52% { transform: rotate(-7deg) }
    53% { transform: rotate(5deg) }
    54% { transform: rotate(-3deg) }
    55% { transform: rotate(2deg) }
    56% { transform: rotate(-1deg) }
    57% { transform: rotate(0.5deg) }
    58% { transform: rotate(-0.25deg) }
    59% { transform: rotate(0deg) }
}

@keyframes fadeIn {
    from  { transform: translateY(25px); opacity: 0%; }
    to  { transform: translateY(0px); opacity: 100%; }
}

* {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    color: #ffffff;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

html, body {
    z-index: -2;
    background-color: #212224;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

::-webkit-scrollbar {
    width: 0;
}

h1 {
    color: #51d181;
    font-size: 36px;
}

h2 {
    color: #51d181;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: #ffffff;
    transition: color .3s;
}

a:hover {
    cursor: pointer;
    color: #51d181;
}

button {
    border: none;
}

button:hover {
    cursor: pointer;
}

img {
    object-fit: contain;
}

nav {
    z-index: 1;
    position: fixed;
    padding-right: 50px;
    height: 100px;
    width: calc(100% - 50px);
    display: flex;
    justify-content: right;
    align-items: center;
    list-style-type: none;
    transition: background-color .3s, height .5s;
}

nav li {
    margin: 0 25px;
}

main {
    margin: 175px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 900px;
}

#nav-items {
    display: flex;
    opacity: 100%;
}

li#nav-left {
    margin-left: 25px;
    margin-right: auto;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

#nav-left button {
    border-radius: 5px;
    padding: 10px 25px;
    background-color: #248046;
    color: #ffffff;
    animation: wiggle 10s infinite;
    transition: background-color .3s;
}

#nav-left button:hover {
    background-color: #1a6334;
}

#nav-left img {
    width: 60px;
    margin-right: 25px;
}

#hamburger-menu {
    margin: 0;
    display: none;
}

#hamburger-menu button {
    width: 50px;
    height: 50px;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hamburger,
#hamburger::before,
#hamburger::after {
    content: '';
    display: block;
    position: absolute;
    width: 50px;
    height: 3px;
    background-color: #ffffff;
    transition: all .3s;
}

#hamburger::before {
    transform: translateY(-15px);
}

#hamburger::after {
    transform: translateY(15px);
}

#hamburger-menu button.open #hamburger {
    background-color: #ffffff00;
    transform: rotate(45deg);
}

#hamburger-menu button.open #hamburger::before {
    transform: rotate(-90deg);
}

#hamburger-menu button.open #hamburger::after {
    transform: rotate(0deg);
}

.gray-boars {
    z-index: -1;
    width: 100vw;
    height: 100vh;
    position: absolute;
    overflow: hidden;
}

.gray-boar {
    width: 400px;
    position: absolute;
    right: -100px;
    rotate: -20deg;
}

.gray-boar:nth-of-type(even) {
    left: -100px;
    rotate: -20deg;
    transform: scaleX(-1);
}

@media only screen and (max-width: 1000px) {
    nav {
        justify-content: center;
        align-items: center;
        padding: 0 25px;
        margin: 0;
    }

    nav li {
        margin-bottom: 25px;
    }

    main {
        margin-bottom: calc(50px + (100vw - 500px)/2);
    }

    #nav-left {
        margin-bottom: 0;
    }

    #nav-items {
        opacity: 0;
        display: none;
        position: absolute;
        padding-top: 25px;
        top: 75px;
        flex-direction: column;
        align-items: center;
        text-align: center;
        background-color: #151518bb;
        width: 100vw;
        transition: opacity .3s;
    }

    li#nav-left {
        position: unset;
        margin-left: 0;
        padding: 0;
    }

    #hamburger-menu {
        position: unset;
        display: block;
    }
}